<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a id="GetPPMClink" href="@Url.Action("Index", "Tutorial")" title="Get a PrePaid MasterCard&copy;">
        <i class="fa fa-comments padding-right-five-px"></i>Tutorials
    </a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a id="ActivatePPMCLink" href="@Url.Action("FAQs", "Support")" title="Activate Your PrePaid MasterCard&copy;">
        <i class="fa fa-question-circle-o padding-right-five-px"></i>Frequent Asked Questions
    </a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a id="ActivatePPMCLink" href="@Url.Action("Customer-Service", "Support")" title="Activate Your PrePaid MasterCard&copy;">
        <i class="fa fa-phone padding-right-five-px"></i>Contact Us
    </a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a id="ActivatePPMCLink" href="@Url.Action("Applications", "Mobile")" title="Activate Your PrePaid MasterCard&copy;">
        <i class="fa fa-mobile padding-right-five-px"></i>Mobile Applications
    </a>
</div>