<div class="col-lg-12 text-center clearfix">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding">
        <div class="col-sm-6 col-xs-6"><a href="https://www.facebook.com/@ViewBag.PartnerFacebookChannel" title="Share on Facebook" class="social-sharing" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a></div>
        <div class="col-sm-6 col-xs-6"><a href="https://twitter.com/@ViewBag.PartnerTwitterHandle" title="Share on Twitter" class="social-sharing" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding">
        <div class="col-sm-6 col-xs-6"><a href="https://www.instagram.com/@ViewBag.PartnerInstagram" title="Share on Instagram" rel="index,follow" class="social-sharing" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></div>
        <div class="col-sm-6 col-xs-6"><a href="https://www.linkedin.com/company/@ViewBag.PartnerLinkedIn" title="Share on LinkedIn" rel="index,follow" class="social-sharing" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></div>
    </div>
    <div class="col-sm-12 col-xs-12 clearfix hidden-lg hidden-md hidden-sm pt8"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding">
        <div class="col-sm-6 col-xs-6"><a href="https://www.pinterest.com/@ViewBag.PartnerPinterest" title="Share on Pinterest" rel="index,follow" class="social-sharing" target="_blank"><i class="fa fa-2x fa-pinterest-square"></i></a></div>
        <div class="col-sm-6 col-xs-6"><a href="https://www.youtube.com/@ViewBag.YouTubeChannel" title="Share on YouTube" rel="index,follow" class="social-sharing" target="_blank"><i class="fa fa-2x fa-youtube-square"></i></a></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding">
        <div class="col-sm-6 col-xs-6"><a href="https://play.google.com/store/apps/details?id=com.propay.mobile" title="Download from Google Play" rel="index,follow" class="social-sharing" target="_blank"><i class="fa fa-2x fa-android"></i></a></div>
        <div class="col-sm-6 col-xs-6"><a href="https://itunes.apple.com/us/app/propay-accept-credit-cards/id433046878?mt=8" rel="index,follow" title="Download from Apple Store" class="social-sharing" target="_blank"><i class="fa fa-2x fa-apple"></i></a></div>
    </div>
</div>